html, body{
    font-family: 'Kalam', sans-serif;
    margin:0px;
    background-color: hsl(0, 0%, 10%);
    color: white;
    /* background: linear-gradient(90deg, #a9a9a9 , #333333); */
}
a{
    text-decoration: none;
    padding: 5px;
    color:white;
}
.search-box{
    border-color: hsl(0, 0%, 10%);
    background-color: hsl(0, 0%, 15%);
    border-radius: 100px;
    width: 500px;
    height: 30px;
}
.search-box:focus{
    border: none;
    
}
::placeholder{
    color: white;
}
input{
    color: white;
    background-color: hsl(0, 0%, 15%);
}

nav{
    font-size: 25px;
    margin-bottom: 5px;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: hsl(0, 0%, 15%);
    /* background: linear-gradient(90deg, #a9a9a9 , #303030 ); */
    /* background: linear-gradient(90deg, #1010ff, #ff1010); */
}