{% extends 'base.html' %}
{% block title %}
Chat
{% endblock %}



{% block body %}
<div style="display:flex; justify-content:space-between;">
    <div>
        <div>Friends
            {% if friends %}
            {% else %}
            <h1>No friends found</h1>
            {% endif %}
            {% for result in friends %}
                <div class="card">
                    <div>
                        <strong>Full Name: </strong><a href="/chat/121221{{ result.0 }}" onclick="">{{ result.2 }} {{ result.3 }}</a>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
    <div>
        <div id='joining' hidden>
            <textarea id="chat-log" cols="100" rows="20"></textarea><br>
            <input id="chat-message-input" type="text" size="100"><br>
            <input id="chat-message-submit" type="button" value="Send">
            <button id="accept" >Accept</button>
            <button id="leave" >Leave</button>
    {{ room_name|json_script:"room-name" }}
            joining room please wait..
        </div>
    </div>
</div>

What chat room would you like to enter?<br>
    <input id="room-name-input" type="text" size="100"><br>
    <input id="room-name-submit" type="button" value="Enter">
{% endblock %}
{% block scripts %}
<script>
    //document.getElementById('joining')
document.querySelector('#room-name-input').focus();
        document.querySelector('#room-name-input').onkeyup = function(e) {
            if (e.keyCode === 13) {  // enter, return
                document.querySelector('#room-name-submit').click();
            }
        };

        document.querySelector('#room-name-submit').onclick = function(e) {
            var roomName = document.querySelector('#room-name-input').value;
            //some working function call for waiting lobby should be written here
            

            //window.location.pathname = '/chat/' + roomName + '/';
        };
</script>
{% endblock %}