{% extends 'base.html' %}
{% block title %}
Friends
{% endblock %}

{% block body %}


{{ friends }}


<div class="body">
    <div class="left" ></div>
    <div class="center">
        {% if friends %}
        {% else %}
        <h1>No friends found</h1>
        {% endif %}
        {% for result in friends %}
            <div class="card">
                <div>
                    <strong>Username: </strong><a href="/profile/?q={{ result.0 }}">{{ result.1 }}</a>
                </div>
                <div>
                    <strong>Full Name: </strong>{{ result.2 }} {{ result.3 }}
                </div>
                <div>
                    <strong>Email: </strong>{{ result.4 }}
                </div>
                {% if user.is_authenticated %}
                <div>
                    {% if result.5 == 1 %}
                    <a href="/unFriend/?id={{ result.0 }}">Unfriend</a>
                    <a href="">Message</a>
                    {% endif %}
                </div>
                {% endif %}
            </div>
        {% endfor %}
        <a href="/sentRequestes">See Sent requestes</a><br>
        <a href="/recievedRequestes">See Recieved requestes</a>
    </div>
    <div class="right"></div>
</div>
{% endblock %}