{% extends 'base.html' %}
{% block title %}
Profile
{% endblock %}

{% block body %}
<div class="body">
    <div class="left" ></div>
    <div class="center">
        {% for result in results %}
            <h1>This is the profile of '{{ result.first_name }} {{ result.last_name }}'</h1>
            <div class="card">
                <div>
                    <strong>Username: </strong><a href="/profile/?q={{ result.id }}">{{ result.username }}</a>
                </div>
                <div>
                    <strong>Full Name: </strong>{{ result.first_name }} {{ result.last_name }}
                </div>
                <div>
                    <strong>Email: </strong>{{ result.email }}
                </div>
                {% if user.is_authenticated %}
                    {% if status == 0.0 %}
                        <a href="#">Add Friend</a>
                    {% elif status == 1.1 %}
                        <a href="#">UnFriend</a>
                    {% elif status == 0.1 %}
                        <a href="#">Accept Request</a>
                    {% else %}
                        <a href="#">Unsend Request</a>
                    {% endif %}
                {% endif %}
            </div>
        {% endfor %}
    </div>
{% endblock %}