{% extends 'base.html' %}
{% block title %}
Profile
{% endblock %}

{% block body %}
<div class="body">
    <div class="left" ></div>
    <div class="center">
        {% for result in results %}
            <h1>This is the profile of '{{ result.first_name }} {{ result.last_name }}'</h1>
            <div class="card">
                <div>
                    <strong>Username: </strong><a href="/profile/?q={{ result.id }}">{{ result.username }}</a>
                </div>
                <div>
                    <strong>Full Name: </strong>{{ result.first_name }} {{ result.last_name }}
                </div>
                <div>
                    <strong>Email: </strong>{{ result.email }}
                </div>
                {% if user.is_authenticate %}
                    <a href="#">Add Friend</a>
                    <a href="">Message</a>
                {% endif %}
            </div>
        {% endfor %}
    </div>
{% endblock %}