{% extends 'base.html' %}
{% block title %}
Login
{% endblock %}

{% block body %}
<div>
    <form action="/startLogin/" method="post">
        {% csrf_token %}
        {% if request.GET.next %}
            <input type="hidden" name="next" value="{{ request.GET.next }}">
        {% endif %}
        <div>
            <label for="userName">Username</label>
            <input id="userName" name="userName" placeholder="Username" required>
        </div>
        <div>
            <label for="password">Password</label>
            <input id="password" name="password" type="password" placeholder="Password" required>
        </div>
        <button type="submit">Login</button>
    </form>
    <h4>Don't have account? <a href="/register">Register</a></h4>
</div>
{% endblock %}